# IDEs
.idea
.vscode


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# C
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeLists.txt
CMakeScripts
Testing
Makefile
cmake_install.cmake
cmake-build-debug
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps


# Python
__pycache__/
*.py[cod]
*$py.class
pip-log.txt
pip-delete-this-directory.txt


# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
